.shadow{
    box-shadow: 0 0 20px rgb(198, 193, 193);
}

.text-center h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: rgb(4, 72, 172);
}

.footer-section{
    margin: 150px 50px 50px;
}



@media only screen and (max-width: 600px){
    .mobile-hidden{
        display: none;
    }

    .shadow{
        box-shadow: 0 0 0 white;
    }

    .text-center h1{
        font-size: 25px;
        margin-top: 30px;
    }
    .text-center p{
        font-size: 14px;
    }

    .btn-margin{
        margin-bottom: 30px;
    }

    .footer-section{
        margin: 100px 0 0;
        border-radius: 0;
    }
}